[submodule "lib/esp-01m"]
	path = lib/esp-01m
	url = https://github.com/besi/kicad-esp-01m
[submodule "lib/tp4056"]
	path = lib/tp4056
	url = https://github.com/besi/kicad-tp4056
[submodule "lib/magnetic-charger"]
	path = lib/magnetic-charger
	url = https://github.com/besi/kicad-magnetic-charger
[submodule "lib/as12ap"]
	path = lib/as12ap
	url = https://github.com/besi/kicad-as12ap
[submodule "lib/pts636"]
	path = lib/pts636
	url = https://github.com/besi/kicad-pts636
